/*
    Cesar Guerrero
    Creation Date: 09/25/22 
    Latest Update: 10/8/22
    CS5610 - Fall 2022

    This file is the CSS for the entertainment tab for our explore page
*/

/*
    Notes:
    - Background color is black
    - Borders are rgb(47,51,54)
    - All classes must be prefixed with "wd-"
    - All content below is offset 16px from the left border.
*/

/* CSS FOR THE NAVIGATION SIDEBAR */
.wd-navbar-styling{
    background-color: #222;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color: rgb(47, 51, 54);
}

.wd-border-bottom{
    border-width: 0px 0px 1px 0px;
    border-style:solid;
    border-color: rgb(47, 51, 54);
}
.nav-link.wd-override-navlink{
    color: white;
}

.wd-active-page{
    background-color: rgb(29,161,242);
}

.btn.wd-override-tweet-btn{
    background-color: rgb(29,161,242);
    border-radius: 25px;
    color:white;
    padding:6px;
}

/* CSS FOR THE CENTER CONTENT*/
.wd-input-icon{
    position: absolute;
    top: 10px;
    left:25px;
    color:gray;
}

.wd-input-formatting{
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color: black;
    padding: 6px 12px 6px 50px;
    background-color: white;
    color: black;
}

.wd-gear-icon{
    color: rgb(29,161,242);
}

.wd-overlayed-text{
    position: absolute;
    left:16px;
    bottom:10px;
    z-index: 1;
}

.wd-overlayed-text-color{
    color:#222;
}

.wd-post-container{
    background-color: #222;
    border-width: 1px 1px 0px 1px;
    border-style:solid;
    border-color: rgb(47, 51, 54);
    border-radius: 5px;
}

.wd-post-info{
    color: rgb(110, 118, 125);
}

.wd-post-image{
    height:100px;
    width:100px;
}


/* CSS FOR THE WHO TO FOLLOW SIDEBAR*/
.wd-who-to-follow{
    background-color: #222;
    border-radius: 5px;
    border-style:solid;
    border-width:1px;
    border-color: rgb(47, 51, 54);
}

.wd-user-image{
    border-radius: 100%;
    width: 48px;
    height: 48px;
}

.btn.wd-override-follow-btn{
    color:white;
    background-color: rgb(29,161,242);
    border-radius: 25px;
    padding: 6px;
}


