/*
    Cesar Guerrero
    09/26/22
    CS5610 - Fall 2022

    This file is the CSS for our bookmarks page
*/

/*
    Notes:
    - Background color is black
    - Borders are rgb(47,51,54)
    - All classes must be prefixed with "wd-"
    - All content below is offset 16px from the left border.
*/
