/*
    Cesar Guerrero
    09/26/22
    CS5610 - Fall 2022

    This file is used to contain CSS that is used on multiple pages so that you don't have redundant code
*/

/*
    Notes:
    - All classes must be prefixed with "wd-"
    - Background color is black
    - Borders are rgb(47, 51, 54)
    - All content below is offset 16px from the left border.
*/
